/* Grid layout (Assignment 1) */
.container {
  margin: 1em;
  display: grid;
  display: -ms-grid;
  grid-gap: 1em;
  grid-template-columns: 10em auto 20em;
  -ms-grid-columns: 15% 70% 25%;
}
.container > * {
  background-color: white;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  -ms-grid-row: 1;
}
.left-panel {
  grid-column: 1;
  grid-row: 2 / span 2;
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
}
.main {
  grid-column: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
.right-panel {
  grid-column: 3;
  grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}
footer {
  grid-column: 2 / span 2;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  -ms-grid-row: 3;
}

/* Simple responsive alternative for narrow screens */
@media only screen and (max-width: 640px) {
  .container {
    display: block;
  }
  .container > * {
    margin-bottom: 1em;
  }
}

/* overall presentation */
html {
  box-sizing: border-box;
}
body {
  background-color: #d5e9af;
  color: #222;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
button {
  color: white;
  background: #7aa230;
  border: none;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  font-size: 90%;
}
/* labels when Assignment 1 selected */
.assignment-label {
  border-top: 1px solid #99ca3c;
  border-bottom: 1px solid #99ca3c;
  text-align: center;
  color: #99ca3c;
  margin: 0.5em auto;
}
/* styles for header */
header h1 {
  font-size: 160%;
  text-align: center;
}
header h1 img {
  margin-right: 1em;
  vertical-align: text-top;
  width: 6em;
}
/* styles for footer */
footer {
  font-size: 90%;
  text-align: center;
}
footer a {
  color: #99ca3c;
}
/* styles for left panel */
.left-panel ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.left-panel button {
  background: none !important;
  border: none;
  font-size: 110%;
  text-decoration: underline;
  cursor: pointer;
  color: #99ca3c;
  margin: 0.2em auto;
  outline-color: transparent;
}
.left-panel button.active {
  color: #222;
  text-decoration: none;
}
/* styles for main content */
.main {
  padding: 0 0.5em 0.3em 0.5em;
}
/* styles for right panel */
.right-panel {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* styles for Assignment 2 controls */
.number-input {
  margin: 0.5em;
  font-size: 90%;
  text-align: right;
}
.plus-minus-input {
  margin: 0.5em;
}
.plus-minus-input button {
  font-size: 100%;
}
.plus-minus-input .minus-button {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.plus-minus-input span {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 90%;
}
.slider-input {
  margin: 0.5em;
}
/* styles for Assignment 3 */
.selectors {
  display: flex;
  justify-content: space-around;
}
.dataset-selector, .theme-selector {
  padding: 0.5em;
}
.dataset-selector p, .theme-selector p {
  margin-top: 0;
  margin-bottom: 0;
}
.dataset-selector ul, .theme-selector ul {
  padding-left: 0.5em;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.dataset-selector li button, .theme-selector li button {
  background: none;
  border: none;
  font-size: 100%;
  text-decoration: underline;
  cursor: pointer;
  color: #99ca3c;
  margin: 0 auto;
  outline-color: transparent;
  padding: 0;
}
.dataset-selector li button.active, .theme-selector li button.active {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}
.data-viewer {
  padding: 0.5em;
}
.text-summary p, .summary-chart p {
  margin-bottom: 0;
}
.text-summary ul {
  margin-top: 0;
}
.franchise-view select, .cake-view select {
  padding: 0.2em;
  margin-left: 0.2em;
  font-size: 90%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #99ca3c;
}

/* styles for Assignment 4 */
.simple-draw {
  text-align: center;
}
.simple-draw canvas {
  border: 1px solid #999;
  cursor: crosshair;
  max-width: 100%;
}
.set-line-width {
  display: flex;
  font-size: 90%;
  max-width: 500px;
  margin: 0.5em auto;
}
.manage-drawings {
  display: flex;
  max-width: 500px;
  margin: 0.5em auto 1em auto;
}
.manage-drawings button {
  margin-right: 0.5em;
}
.drawings-to-load {
  max-width: 500px;
  margin: 0 auto 0.5em auto;
  background-color: white;
  border: 1px solid #99ca3c;
}
.drawings-to-load .cancel {
  text-align: right;
}
.drawings-to-load .cancel button {
  color: #7aa230;
  background: none;
  font-size: 200%;
  padding: 0 0.3em 0 0;
}
.drawings-to-load ul {
  list-style: none;
  margin-top: 0;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}
.drawings-to-load li {
  display: flex;
  justify-content: space-between;
}
.drawings-to-load li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.drawings-to-load .saved-date {
  font-size: 90%;
}
.drawings-to-load .load-buttons button {
  margin: 0.3em;
}
.drawings-to-load .image-button {
  background: none;
}
.drawings-to-load img {
  width: 100px;
  border: 1px solid #bbb;
}
