/* Grid layout (Assignment 1) */
.container {
  margin: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 10em auto 20em;
}
.container > * {
  background-color: white;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.left-panel {
  grid-column: 1;
  grid-row: 2 / span 2;
}
.main {
  grid-column: 2;
  grid-row: 2;
}
.right-panel {
  grid-column: 3;
  grid-row: 2;
}
footer {
  grid-column: 2 / span 2;
  grid-row: 3;
}

/* Simple responsive alternative for narrow screens */
@media only screen and (max-width: 640px) {
  .container {
    display: block;
  }
  .container > * {
    margin-bottom: 1em;
  }
}

/* presentation */
html {
  box-sizing: border-box;
}
body {
  background-color: #d5e9af;
  color: #222;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
/* labels when Assignment 1 selected */
.assignment-label {
  border-top: 1px solid #99ca3c;
  border-bottom: 1px solid #99ca3c;
  text-align: center;
  color: #99ca3c;
  margin: 0.5em auto;
}
/* styles for header */
header h1 {
  font-size: 160%;
  text-align: center;
}
header h1 img {
  margin-right: 1em;
  vertical-align: text-top;
  width: 6em;
}
/* styles for footer */
footer {
  font-size: 90%;
  text-align: center;
}
footer a {
  color: #99ca3c;
}
/* styles for left panel */
.left-panel ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.left-panel button {
  background: none !important;
  border: none;
  font-size: 110%;
  text-decoration: underline;
  cursor: pointer;
  color: #99ca3c;
  margin: 0.2em auto;
  outline-color: transparent;
}
.left-panel button.active {
  color: #222;
  text-decoration: none;
}
/* styles for main content */
.main {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* styles for right panel */
.right-panel {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* styles for Assignment 2 controls */
.number-input {
  margin: 0.5em;
  font-size: 90%;
  padding-left: 0.2em;
}
.plus-minus-input {
  margin: 0.5em;
}
.plus-minus-input button {
  font-size: 100%;
}
.plus-minus-input span {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 90%;
}
.slider-input {
  margin: 0.5em;
}
